*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
    hyphens: auto;  /* My addition */
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /*End Reset*/


nav {
    display: flex;
    position: sticky;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue; 

}

nav > div > a {
    margin-right: 5vw;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

nav > div > a:hover {
    text-decoration: underline;
}

nav > a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin: 1vw 0 1vw 1.5vw;
    
}